In [35]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [20]:
dftrain_=pd.read_csv("Cars.csv")
df_train

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [21]:
model1=LinearRegression(fit_intercept=True)

In [27]:
x=df_train[["VOL","HP","SP","WT"]];y=df_train["MPG"]

In [31]:
model1.fit(x,y)

LinearRegression()

In [32]:
yfit=model1.predict(x)

In [34]:
model1.score(x,y)

0.7705372737359842

# train test split

In [ ]:
x=df[["VOL","HP","SP","WT"]];y=df["MPG"]

In [36]:
x_train,x_test,y_train,y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

NameError: name 'X' is not defined